{% extends "dashboard.html" %}
{% block title %} Problem List{% endblock title %}
{% block content %}
  {% if phase == meta.YET_TO_START %}
    <script type="text/javascript">
      $(document).ready(function(){
        Materialize.toast('Contest Has Not Started Yet !!', 4000);
      });
    </script>
    <i class="large material-icons center text-red">error</i>
    <div class="row">
      <div class="col s12 m5">
        <div class="card-panel hoverable">
          <span class="red-text">You Cannot Access Problems at the moment. Wait for the Contest to start. Patience is appreciated</span>
        </div>
      </div>
    </div>
  {% else %}
    <br/>
    <div class="row">
      {% for problem in problem_list %}
        <div class="col s12 m12 l12">
          <div class="card">
            <div class="card-content">
              <div class="row valign-wrapper">
                <div class="col s12 m6 l8 valign">
                  <span class="card-title activator blue-text text-darken-4" style="font-weight: bold;">{{problem.name}}</span>
                </div>
                <div class="col s12 m3 l2 valign">
                  <b>Max Points :</b> {{problem.max_points}}
                </div>
                <div class="col s12 m3 l2 valign">
                  <a href="/solve/{{problem.id}}" class="btn waves-effect waves-purple blue lighten-5 blue-text btn-large hoverable">Solve</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock content %}
