{% extends "dashboard.html" %}
{% block title %} View Solution - {{solution.problem.name}} {% endblock title %}
{% block content %}
  {% if not solution %}
    <script type="text/javascript">
      $(document).ready(function(){
        Materialize.toast('Solution Unavailable', 4000);
      });
    </script>
    <div class="row center">
      <div class="col l12 m12 s12">
        <i class="large material-icons red-text">error</i>
      </div>
      <div class="col s12 m6 l12">
        <div class="card-panel hoverable">
          <span class="red-text">This solution is unavailable !</span>
        </div>
      </div>
    </div>
  {% else %}
    <br/>
    <div class="row">
      {% for problem in problem_list %}
        <div class="col s12 m12 l12">
          <div class="card">
            <div class="card-content">
              <div class="row">
                <div class="col s12 m12 l12 valign">
                  <span class="card-title activator blue-text text-darken-4" style="font-weight: bold;">{{solution.problem.name}}</span>
                </div>
              </div>
              <div class="row">
                <table class="striped">
                  <thead>
                    <tr>
                      <th data-field="id1">Test Case</th>
                      <th data-field="res1">Result</th>
                      <th data-field="id2">Test Case</th>
                      <th data-field="res2">Result</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for testcase_result in solution.test_case_results.all %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock content %}
