{% extends "dashboard.html" %}
{% load staticfiles %}
{% block title %}{{problem.name}}{% endblock title %}
{% block content %}
  <br/>
  <h3 class="center" style="font-weight: bold;">{{problem.name}}</h3>
  <p class="flow-text">
    {% autoescape off %}
      {{problem.problem_text | linebreaksbr}}
    {% endautoescape %}
    <br/>
    <b>Time Limit : </b> {{problem.time_limit}}
  </p>
  <br/>
  {% if phase == meta.CODING_PHASE %}
  <form action="" method="POST" id="problem_submit_form">
    {% csrf_token %}
    <div class="row">
      <div class="s12 m12 l12">
        <h5 class="blue-text darken-4">Type your Code Here : </h5>
        <pre id="editor" style="width: 100%; height: 400px;">//Write Your C / C++ Code Here
//Author - {{request.user.participant.name}}
//Written for Rectify, Engineer 2015
{{problem.code}}
</pre>
      </div>
      <input type="hidden" name="code" id="code" value="Invalid Code !!"/>
      <div class="s12 m12 l12 center">
        <button id="code_submit" class="btn waves-effect waves-purple blue lighten-5 blue-text btn-large hoverable center">Submit Code <i class="material-icons right">send</i></button>
      </div>
    </div>
  </form>
  <script src="{% static 'js/src-min-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
  <script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/c_cpp");
    $('#code_submit').click(function (){
      $('#code').val(editor.getValue());
      $('form#problem_submit_form').submit();
    });
  </script>
  {% else %}
    <div class="row center">
      <div class="col s12 m12 l12">
        <div class="card-panel hoverable">
          <span class="red-text">Coding Phase has ended ! No more solutions can be submitted !</span>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock content %}
